# This file contains pin mappings for the stock 2020 Creality Ender 5
# Pro with the 32-bit Creality 4.2.2 board. To use this config, during
# "make menuconfig" select the STM32F103 with a "28KiB bootloader" and
# with "Use USB for communication" disabled.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select the
# USART3 serial port, which is broken out on the 10 pin IDC cable used
# for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
#   The serial port to connect to the MCU
baud: 250000
# Baud rate to use. Default 250000
restart_method: command
#   This controls the mechanism the host will use to reset the micro-controller.
#   The choices are 'arduino', 'cheetah', 'rpi_usb', 'command'. The 'arduino'
#   method (toggle DTR) is common on Arduino boards and clones. The 'cheetah'
#   method is a special method needed for some Fysetc Cheetah boards. The
#   'rpi_usb' method is useful on Raspberry Pi boards with micro-controllers
#   powered over USB - it briefly disables power to all USB ports to accomplish
#   a micro-controller reset. The 'command' method involves sending a Klipper command
#   to the micro-controller so that it can reset itself. The default is 'arduino'
#   if the micro-controller communicates over a serial port, 'command' otherwise.

[virtual_sdcard]
path: ~/printer_data/gcodes

[display_status]

[display]
lcd_type: st7920
cs_pin: PB12
sclk_pin: PB13
sid_pin: PB15
encoder_pins: ^PB14, ^PB10
click_pin: ^!PB2

[output_pin BEEPER_Pin]
pin: PC6
pwm: True
value: 0
shutdown_value: 0
cycle_time: 0.001
scale: 1

[fan]
pin: PA0

[printer]
kinematics: cartesian
max_velocity: 300
#   Maximum velocity (in mm/s) of the toolhead (relative to the print). Can be changed
#   at runtime using the SET_VELOCITY_LIMIT command. This parameter must be specified.
max_accel: 3000
#   Maximum acceleration (in mm/s^2) of the toolhead (relative to the print). Although
#   this parameter is described as a "maximum" acceleration, in practice most moves that
#   accelerate or decelerate will do so at the rate specified here. The value specified
#   here may be changed at runtime using the SET_VELOCITY_LIMIT command. Must be specified.
max_z_velocity: 5
max_z_accel: 100

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
rotation_distance: 40
microsteps: 16
endstop_pin: ^PA5
position_endstop: 220
position_max: 220
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 220
position_max: 220
homing_speed: 50

[stepper_z]
step_pin: PB6
dir_pin: PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 4
endstop_pin: ^PA7
position_min: -5 # Use negative value here for BLTouch probe negative z_offset
position_max: 245
endstop_pin: probe:z_virtual_endstop
# position_endstop: 0.0
#    If using "probe:z_virtual_endstop" then do not define a position_endstop in the
#    stepper_z section.

[extruder]
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 7.492 # Was 32.342
# full_steps_per_rotation:
# gear_ratio:
#   See the "stepper" section for a description of the above parameters. If none of the
#   above parameters are specified then no stepper will be associated with the nozzle hotend
#   (though a SYNC_EXTRUDER_MOTION command may associate one at run-time).
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 1000.0
#   Maximum length (in mm of raw filament) that a retraction or extrude-only move may have.
#   If a retraction or extrude-only move requests a distance greater than this value it will
#   cause an error to be returned. The default is 50mm.
# max_extrude_cross_section:
#   Maximum area (in mm^2) of an extrusion cross section (eg, extrusion width multiplied by
#   layer height). This setting prevents excessive amounts of extrusion during relatively
#   small XY moves. If a move requests an extrusion rate that would exceed this value
#   it will cause an error to be returned. The default is: 4.0 * nozzle_diameter^2
# instantaneous_corner_velocity: 1.000
#   The maximum instantaneous velocity change (in mm/s) of the extruder during the junction
#   of two moves. The default is 1mm/s.
# max_extrude_only_velocity:
# max_extrude_only_accel:
#   Maximum velocity (in mm/s) and acceleration (in mm/s^2) of the extruder motor for
#   retractions and extrude-only moves. These settings do not have any impact on normal
#   printing moves. If not specified then they are calculated to match the limit an XY
#   printing move with a cross section of 4.0*nozzle_diameter^2 would have.
pressure_advance: 0.0 # <-----------NEED TO TUNE --------->
#   The amount of raw filament to push into the extruder during extruder acceleration.
#   An equal amount of filament is retracted during deceleration. It is measured in millimeters
#   per millimeter/second. The default is 0, which disables pressure advance.
# pressure_advance_smooth_time: 0.040
#   A time range (in seconds) to use when calculating the average extruder velocity for pressure
#   advance. A larger value results in smoother extruder movements. This parameter may not exceed
#   200ms. This setting only applies if pressure_advance is non-zero. The default is 0.040 (40 ms).
###########################################################
# The remaining variables describe the [extruder] heater. #
heater_pin: PA1 # PWM output pin controlling the heater. Required
sensor_type: PT1000 # Was: EPCOS 100K B57560G104F
#   Type of sensor - common thermistors are "EPCOS 100K B57560G104F", "ATC Semitec 104GT-2",
#   "ATC Semitec 104NT-4-R025H42G", "Generic 3950","Honeywell 100K 135-104LAG-J01",
#   "NTC 100K MGB18-104F39050L32", "SliceEngineering 450", and "TDK NTCG104LH104JT1". See the
#   "Temperature sensors" section for other sensors. Required
sensor_pin: PC5 # Analog input pin connected to the sensor. Required
#control: pid    # Control algorithm (either pid or watermark). Required
#pid_kp: 19.72
#pid_ki: 1.4
#pid_kd: 69.54
#   The proportional (pid_Kp), integral (pid_Ki), and derivative (pid_Kd) settings for the PID
#   feedback control system. Klipper evaluates the PID settings with the following general formula:
#     heater_pwm = (Kp*error + Ki*integral(error) - Kd*derivative(error)) / 255
#   Where "error" is "requested_temperature - measured_temperature" and "heater_pwm" is the
#   requested heating rate with 0.0 being full off and 1.0 being full on. Consider using the
#   PID_CALIBRATE command to obtain these parameters. The pid_Kp, pid_Ki, and pid_Kd parameters must
#   be provided for PID heaters.
min_temp: 0
max_temp: 300
#   The maximum range of valid temperatures (in Celsius) that the heater must remain within.
#   This controls a safety feature implemented in the micro-controller code - should the measured
#   temperature ever fall outside this range then the micro-controller will go into a shutdown
#   state. This check can help detect some heater and sensor hardware failures. Set this range just
#   wide enough so that reasonable temperatures do not result in an error. Required
# max_power: 1.0
#   The maximum power (value from 0.0 to 1.0) that the heater_pin may be set to.
#   The value 1.0 allows the pin to be set fully enabled for extended periods, while a value of 0.5
#   would allow the pin to be enabled for no more than half the time. This setting may be used to
#   limit the total power output (over extended periods) to the heater. Default is 1.0
pullup_resistor: 4700
#   The resistance (ohms) of the pullup attached to the thermistor. Only valid when the sensor is
#   a thermistor. Default is 4700
# smooth_time: 1.0
#   A time value (seconds) over which temperature measurements will be smoothed to reduce the
#   impact of measurement noise. Default is 1.0
# max_delta: 2.0
#   On 'watermark' controlled heaters this is the number of degrees in Celsius above the target
#   temperature before disabling the heater as well as the number of degrees below the target before
#   re-enabling the heater. Default is 2.0
# pwm_cycle_time: 0.100
#   Time in seconds for each software PWM cycle of the heater. It is not recommended to set this
#   unless there is an electrical requirement to switch the heater faster than 10 times a second.
#   Default is 0.100.
# min_extrude_temp: 170
#   Minimum temperature (Celsius) at which extruder move commands may be issued. Default is 170

######################################################################
# [heater_bed] uses the same settings described in "extruder" section 
######################################################################
[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
#pid_kp: 66.429
#pid_ki: 1.197
#pid_kd: 921.707
min_temp: 0
max_temp: 135

######################################################################
# Bed Leveling / BLTouch / Homing / Bed Mesh
######################################################################
[include bed_leveling.cfg]

######################################################################
# Filament Runout and Swap 
######################################################################
[include filament_motion_sensor.cfg]

######################################################################
# Resonance and Axis Compensation / Input Shaping / Accelerometer
######################################################################
#    Input Shaping
[include input_shaping.cfg]

#    Axis Twist Compensation
[include axis_twist_compensation.cfg]

######################################################################
# Macros
######################################################################
[include macros.cfg]

# <------------------------------------------------------------------->
# END OF USER CONFIGIGURATION
#
# The following is added automatically when using SAVE_CONFIG command
# <------------------------------------------------------------------->

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 74.622
#*# pid_ki = 1.849
#*# pid_kd = 752.747
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 21.674
#*# pid_ki = 1.302
#*# pid_kd = 90.217
#*#
#*# [bltouch]
#*# z_offset = 3.289
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.090892, 0.079220, 0.134373, 0.137149, 0.149925
#*# 	  0.049096, 0.049299, 0.098827, 0.109102, 0.097503
#*# 	  -0.035082, -0.023004, 0.018399, 0.012425, 0.012701
#*# 	  -0.059016, -0.081313, -0.052410, -0.075259, -0.060608
#*# 	  -0.112950, -0.141497, -0.110720, -0.122319, -0.108293
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 174.0
#*# min_y = 18.0
#*# max_y = 200.0
#*#
#*# [bed_mesh Glass Cold]
#*# version = 1
#*# points =
#*# 	0.025000, 0.004375, 0.025000, 0.008750, 0.016875, 0.001250, -0.003750
#*# 	0.062500, 0.021250, 0.061875, 0.037500, 0.032500, 0.019375, 0.022500
#*# 	0.028125, 0.014375, 0.054375, 0.022500, 0.028125, 0.027500, 0.028125
#*# 	0.028750, 0.021875, 0.051250, 0.021250, 0.012500, 0.008750, 0.014375
#*# 	0.061875, 0.028125, 0.055625, 0.010000, 0.010625, -0.002500, -0.009375
#*# 	0.079375, 0.040625, 0.066875, 0.031875, 0.026250, 0.015000, 0.005000
#*# 	0.076250, 0.040000, 0.064375, 0.026875, 0.019375, 0.008750, 0.012500
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 173.98
#*# min_y = 18.0
#*# max_y = 199.97999999999996
#*#
#*# [bed_mesh Glass 60 C]
#*# version = 1
#*# points =
#*# 	0.001531, -0.012219, 0.022156, 0.017781, 0.019031, 0.016531, 0.024656
#*# 	0.050906, 0.028406, 0.061531, 0.057781, 0.047781, 0.045906, 0.042156
#*# 	0.012156, 0.006531, 0.052781, 0.037156, 0.049031, 0.042781, 0.037781
#*# 	0.010906, 0.007781, 0.050281, 0.017156, 0.004031, 0.004656, 0.011531
#*# 	0.022156, 0.003406, 0.034656, 0.005281, -0.005344, -0.017844, -0.024719
#*# 	0.042781, 0.001531, 0.040281, 0.010281, -0.005969, -0.020969, -0.024719
#*# 	0.011531, -0.020344, 0.024656, -0.023469, -0.027844, -0.027219, -0.032844
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 173.98
#*# min_y = 18.0
#*# max_y = 199.97999999999996
#*#
#*# [axis_twist_compensation]
#*# z_compensations = -0.010208, -0.003958, 0.014167
#*# compensation_start_x = 20.0
#*# compensation_end_x = 174.0
#*# zy_compensations = -0.000417, -0.004167, 0.004583
#*# compensation_start_y = 20.0
#*# compensation_end_y = 210.0
